.career {
  padding: 150px 0;
  background-color: $color-light;

  @media (max-width: $tablet-max) {
    padding: 130px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 100px 0;
  }
}

.career-container {
  @include container;
}

.career-wrap {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-max) {
    flex-direction: column;
  }

  @media (max-width: $mobile-max) {
    flex-direction: column;
  }
}

.career-wrap-tb-mb {
  @media (max-width: $tablet-max) {
    flex-direction: column-reverse;
  }

  @media (max-width: $mobile-max) {
    flex-direction: column-reverse;
  }
}

.career-pic {
  flex-basis: 40%;

  @media (max-width: $tablet-max) {
    align-self: center;
    max-width: 400px;
    max-height: 400px;
  }

  @media (max-width: $tablet-max) {
    align-self: center;
    max-width: 350px;
    max-height: 350px;
  }
}

.career-img {

}

.career-desc {
  flex-basis: 50%;
}

.career-title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: $color-dark;

  @media (max-width: $tablet-max) {
    margin-top: 65px;
    margin-bottom: 45px;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
  }

  @media (max-width: $mobile-max) {
    margin-top: 55px;
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }
}

.career-text {
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  // letter-spacing: 0.01em;
  color: $color-dark;

  @media (max-width: $tablet-max) {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
  }

  @media (max-width: $mobile-max) {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }
}

.career-line {
  margin: 150px auto;
  width: 300px;
  border: 1px solid $color-accent;

  @media (max-width: $tablet-max) {
    margin: 130px auto;
  }

  @media (max-width: $mobile-max) {
    margin: 100px auto;
    width: 150px;
  }
}
