.facts {
  // position: relative;
  padding: 150px 0;
  background: linear-gradient(180deg, rgba(34, 34, 37, 0.7) 0.01%, rgba(34, 34, 37, 0.7) 0.02%, rgba(34, 34, 37, 0.7) 0.03%, rgba(205, 172, 102, 0.7) 100%),
              url(../images/ms.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.facts-container {
  @include container;
}

.facts-title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: $color-light;
}
