.footer {
  padding: 45px 0;
  background-color: $color-dark;

  @media (max-width: $tablet-max) {
    padding: 50px 0;
  }
}

.footer-container {
  @include container;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-max) {
    flex-direction: column;
  }
}

.footer-social {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #c0c0c0;

  @media (max-width: $tablet-max) {
    margin-bottom: 10px;
    text-align: center;
  }
}

.footer-author {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #c0c0c0;

  @media (max-width: $tablet-max) {
    text-align: center;
  }
}

.footer-link {
  text-decoration: none;
  color: $color-accent;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    color: $color-accent;
    opacity: .5;
  }
}
