.highlights {
  padding: 150px 0;
  background: linear-gradient(180deg, rgba(34, 34, 37, 0.7) 0.01%, rgba(34, 34, 37, 0.7) 0.02%, rgba(34, 34, 37, 0.7) 0.03%, rgba(205, 172, 102, 0.7) 100%),
              url(../images/ms-highlights.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media (max-width: $tablet-max) {
    padding: 130px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 100px 0;
  }
}

.highlights-container {
  @include container;
}

.highlights-title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: $color-light;

  @media (max-width: $tablet-max) {
    font-size: 42px;
    line-height: 51px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 70px;
    font-size: 36px;
    line-height: 42px;
  }
}

.highlights-wrap {
  display: flex;
  justify-content: space-between;
  margin: -10px;

  @media (max-width: $tablet-max) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.highlights-box {
  flex-basis: 33.33%;
  height: 250px;
  padding: 10px;

  @media (max-width: $tablet-max) {
    flex-basis: 50%;
    height: 300px;
  }

  @media (max-width: $mobile-max) {
    flex-basis: 100%;
    height: 250px;
  }
}

.highlights-video {
  min-width: 100%;
  min-height: 100%;
  border-radius: 15px;
}
