.stats {
  padding: 150px 0;
  background-color: $color-dark;

  @media (max-width: $tablet-max) {
    padding: 130px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 100px 0;
  }
}

.stats-container {
  @include container;
}

.stats-list {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -10px;
  list-style: none;
}

.stats-item {
  flex-basis: 33.33%;
  padding: 10px;

  @media (max-width: $tablet-max) {
    flex-basis: 50%;
  }

  @media (max-width: $mobile-max) {
    flex-basis: 100%;
  }
}

.stats-card {
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  height: 250px;
  border: 2px solid rgba(205, 172, 102, .4);
  border-radius: 8px;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    background-color: $color-accent;
    box-shadow: 0 0 15px rgba($color-accent, 0.5);
  }

  @media (max-width: $tablet-max) {
    height: 230px;
  }

  @media (max-width: $mobile-max) {
    justify-content: center;
    padding: 0;
    height: 207px;
  }
}

.stats-title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  text-align: center;
  color: $color-light;

  @media (max-width: $tablet-max) {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 58px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 44px;
  }
}

.stats-text {
  padding: 0 15px;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: $color-light;

  @media (max-width: $tablet-max) {
    font-size: 22px;
    line-height: 27px;
  }

  @media (max-width: $mobile-max) {
    font-size: 18px;
    line-height: 22px;
  }
}
