.wsc {
  padding: 150px 0;
  background-color: $color-dark;
}

.wsc-container {
  @include container;
}

.wsc-title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: $color-light;
}

.wsc-list {
  display: flex;
  margin: 0 -15px 150px -15px;
  list-style: none;
}

.wsc-item {
  flex-basis: 25%;
  padding: 0 15px;
}

.wsc-card {
  display: flex;
  flex-direction: column;
}

.wsc-icon {
  margin: 0 auto 50px auto;
  width: 50px;
  height: 50px;
  background-image: url(../images/wsc-star.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.wsc-img {
  margin-bottom: 40px;
  border-radius: 10px;
}

.wsc-text {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: $color-light;
}

.wsc-chronicle {
  margin-bottom: -100px;
  // border: 1px solid aqua;
}

.wsc-chronicle-box {
  margin-bottom: 100px;
}

// Для данных элементов использовал файлы png, а не шрифт, т.к. у шрифта 'Inter' проблемы с отображением при использовании обводки (неккоректное отображение).
.wsc-chronicle-2014 {
  margin-left: auto;
  width: 640px;
  height: 200px;
  background-image: url(../images/wsc-chronicle-2014-tr.png);
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    background-image: url(../images/wsc-chronicle-2014-fill.png);
  }
}

.wsc-chronicle-2016 {
  margin-left: auto;
  width: 640px;
  height: 200px;
  background-image: url(../images/wsc-chronicle-2016-tr.png);
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    background-image: url(../images/wsc-chronicle-2016-fill.png);
  }
}

.wsc-chronicle-2017 {
  margin-left: auto;
  width: 640px;
  height: 200px;
  background-image: url(../images/wsc-chronicle-2017-tr.png);
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    background-image: url(../images/wsc-chronicle-2017-fill.png);
  }
}

.wsc-chronicle-2021 {
  margin-left: auto;
  width: 640px;
  height: 200px;
  background-image: url(../images/wsc-chronicle-2021-tr.png);
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    background-image: url(../images/wsc-chronicle-2021-fill.png);
  }
}

.wsc-chronicle-text-wrap {
  margin-top: -100px;
  max-width: 70%;
  // border: 1px solid yellow;
}

.wsc-chronicle-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: $color-light;
}
