.wsc {
  padding: 150px 0;
  background-color: $color-dark;

  @media (max-width: $tablet-max) {
    padding: 130px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 100px 0;
  }
}

.wsc-container {
  @include container;
}

.wsc-title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: $color-light;

  @media (max-width: $tablet-max) {
    font-size: 42px;
    line-height: 51px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 70px;
    font-size: 36px;
    line-height: 42px;
  }
}

.wsc-list {
  display: flex;
  margin: 0 -15px 150px -15px;
  list-style: none;

  @media (max-width: $tablet-max) {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-max) {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.wsc-item {
  flex-basis: 25%;
  padding: 0 15px;

  @media (max-width: $tablet-max) {
    flex-basis: 50%;
  }

  @media (max-width: $mobile-max) {
    flex-basis: 100%;
  }
}

.wsc-card {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-max) {
    margin-bottom: 100px;
  }
}

.wsc-icon {
  margin: 0 auto 40px auto;
  width: 50px;
  height: 50px;
  background-image: url(../images/wsc-star.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.wsc-img-wrap {
  border-radius: 10px;
  overflow: hidden;
}

.wsc-img {
  border-radius: 10px;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    transform: scale(1.1);
  }
}

.wsc-text {
  margin-top: 35px;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: $color-light;

  @media (max-width: $tablet-max) {
    font-size: 42px;
  }
}

.wsc-chronicle {
  margin-bottom: -100px;
  // border: 1px solid aqua;
}

.wsc-chronicle-box {
  margin-bottom: 100px;
}

// Для данных элементов использовал файлы png, а не шрифт, т.к. у шрифта 'Inter' проблемы с отображением при использовании обводки (неккоректное отображение).
.wsc-chronicle-2014 {
  margin-left: auto;
  max-width: 640px;
  height: 200px;
  background-image: url(../images/wsc-chronicle-2014-tr.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    background-image: url(../images/wsc-chronicle-2014-fill.png);
  }
}

.wsc-chronicle-2016 {
  margin-left: auto;
  max-width: 640px;
  height: 200px;
  background-image: url(../images/wsc-chronicle-2016-tr.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    background-image: url(../images/wsc-chronicle-2016-fill.png);
  }
}

.wsc-chronicle-2017 {
  margin-left: auto;
  max-width: 640px;
  height: 200px;
  background-image: url(../images/wsc-chronicle-2017-tr.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    background-image: url(../images/wsc-chronicle-2017-fill.png);
  }
}

.wsc-chronicle-2021 {
  margin-left: auto;
  max-width: 640px;
  height: 200px;
  background-image: url(../images/wsc-chronicle-2021-tr.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    background-image: url(../images/wsc-chronicle-2021-fill.png);
  }
}

.wsc-chronicle-text-wrap {
  margin-top: -100px;
  max-width: 70%;

  @media (max-width: $tablet-max) {
    margin-top: -120px;
    max-width: 80%;
  }

  @media (max-width: $mobile-max) {
    margin-top: -130px;
    min-width: 85%;
  }
}

.wsc-chronicle-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: $color-light;

  @media (max-width: $tablet-max) {
    font-size: 22px;
    line-height: 36px;
  }

  @media (max-width: $mobile-max) {
    font-size: 18px;
    line-height: 27px;
  }
}
