.wsc {
  padding: 150px 0;
  background-color: $color-dark;
}

.wsc-container {
  @include container;
}

.wsc-title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: $color-light;
}

.wsc-list {
  display: flex;
  margin: 0 -15px 150px -15px;
  list-style: none;
}

.wsc-item {
  flex-basis: 25%;
  padding: 0 15px;
}

.wsc-card {
  display: flex;
  flex-direction: column;
}

.wsc-icon {
  margin: 0 auto 50px auto;
  width: 50px;
  height: 50px;
  background-image: url(../images/wsc-star.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.wsc-img {
  margin-bottom: 40px;
  border-radius: 10px;
}

.wsc-text {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: $color-light;
}

.wsc-chronicle {
  // position: relative;
  border: 1px solid aqua;
}

// Создал именно этот класс для 2014 года, так как у цифры '4' проблемы с прозрачностью (появляются лишние линии). Поэтому использовал два png файла.
.wsc-chronicle-2014 {
  margin-left: auto;
  width: 640px;
  height: 200px;
  background-image: url(../images/wsc-chronicle-2014-tr.png);
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    background-image: url(../images/wsc-chronicle-2014-fill.png);
  }
}

.wsc-chronicle-year {
  font-weight: 900;
  font-size: 268px;
  line-height: 324px;
  color: transparent;
  -webkit-text-stroke: 1px rgba($color-accent, .4);

  // border: 1px solid rgba($color-accent, .4);

}

.wsc-chronicle-text-wrap {
  // position: absolute;
  // top: 100px;
  // left: 0;
  margin-top: -100px;
  max-width: 70%;
  border: 1px solid yellow;
}


.wsc-chronicle-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: $color-light;

}
